<div class="col s12 m5 offset-m1 interests">
  <ul>
    <li>
      <span class='number'>1</span> <span class="special-word">Inscrivez-vous</span> en indiquant vos coordonnées et zones de prospections.
    </li>
    <li>
      <span class='number'>2</span> Nous validons votre inscription et nous vous recontactons rapidement pour vous <span class="special-word">donnez vos identifiants.</span>
    </li>
    <li>
      <span class='number'>3</span> Connectez-vous et accèdez à des <span class="special-word">centaines de restaurants</span> de votre secteur de prospection.
    </li>
  </ul>
</div>
