<div class='reset-password'>
  <h5>Mot de passe oublié ?</h5>
  <div class="forgot-password-container">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="row z-depth-5 form-card">
        <div class="input-field col s12 m8 offset-m2">
          <label for="email">Email</label>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="actions center-align col s12 m8 offset-m2">
          <a class="waves-effect waves-light btn padding-10"><%= f.submit "Réinitialiser mon mot de passe" %></a>
        </div>
      </div>

      <%= devise_error_messages! %>

    <% end %>
  </div>
</div>
