
<div class="home-wrapper"></div>

<div class="hp-content">
  <div class="row sisi">
   <div class="col s12 l6 content-left">
     <h1 class='h1'> Accèdez aux menus de milliers de restaurants et optimisez votre prospection.</h1>
     <h2 class='h2'>IPaidThat collecte automatiquement vos factures fournisseurs, les compare avec votre banque pour ne rien oublier et suivre votre trésorerie en temps réel.</h2>
   </div>
   <div class="col s12 l6 content-right">
     <%= image_tag "https://ipt-s3-europe.s3.amazonaws.com/cms_images/ipt_macbook_2_1.png" %>
  </div>
 </div>
</div>
