.restaurant-show {
  padding-right: 1%;
}

.restaurant-content {
  background-color: white;
}

.restaurant-information-mobile{
  height: 200px;
  width: 85%;
  margin-top: 7.5px;
  padding-left: 10px;
  padding-bottom: 10px;
  background: white;
}
