.restaurant-show {
  padding-right: 2%;
  padding-top: 2%;
}

.restaurant-content {
  background-color: white;
  margin-bottom: 20px;
}

.cp-city {
  display: flex;
  li { margin-right: 5px }
}

.star {
  cursor: pointer;
}

.restaurant-information-mobile{
  height: 200px;
  width: 85%;
  margin-top: 7.5px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  background: white;
}

.dish-description {
  font-size: 10px;
}

.dish-table {
  tbody tr {
    font-size: 14px;
    td:first-child {
      padding: 10px;
      max-width: 30%;
    }
    td:nth-child(2) {
      padding: 10px;
      max-width: 60%;
    }
  }  
}

.already-favorite {
  pointer-events: none;
  color: rgba(238,110,115,0.9);
}

.already-commented {
  color: rgba(238,110,115,0.9) !important;
}

.not-yet-favorite, .not-yet-commented {
  color: black;
  cursor: pointer;
}

#already-booked {
  color: rgba(238,110,115,0.9);
}

.restaurant-actions {
  width: 85%;
  background-color: white;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.date {
  font-weight: bold;
}

.super {
  cursor: pointer !important;
}

.comments-wrapper {
  padding: 24px !important;
}
