.private-nav {
  background-color: #f4f5f5;
  height: 100vh;
  float: left;
  width: 15%;
  display: block;
  position: fixed;
  text-align: center;
  padding-top: 5px;
  a {
    text-decoration: none;
  }
  li {
    color: #7d7d7d;
    padding: 10px;
    margin: 5px 0px;
  }
}

nav {
  position: fixed;
  z-index: 200;
}

.navbar-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  svg { margin-right: 10px; }
}
.navbar-link.active-link {
  background-color: #26a69a;
  border-radius: 5px;
  color: white;
}
