.private-nav {
  background-color: #113f67;
  display: block;
  text-align: center;
  float: none;
  position: unset;
  ul {
    display: flex;
    justify-content: space-around;
    margin: 0 !important;
  }
  @media screen and (min-width: 920px) {
    float: left;
    position: fixed;
    height: 100vh;
    ul {
      margin-top: -10px !important;
      display: unset;
      justify-content: center;
    }
  }
  a {
    text-decoration: none;
  }

  li {
    color: white;
    padding: 30px;
  }
}

nav {
  position: fixed;
  z-index: 200;
}

.navbar-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  svg { margin-right: 10px; }
}
.navbar-link.active-link {
  background-color: rgba(238, 110, 115, 0.9);
  color: white;
}

.revert-padding-col {
  padding: 0 !important;
}
