.private-nav {
  background-color: #113f67;
  height: 100vh;
  float: left;
  display: block;
  position: fixed;
  text-align: center;
  padding-top: 5px;
  a {
    text-decoration: none;
  }
  ul {
    margin-top: -10px !important;
  }
  li {
    color: white;
    padding: 30px;
    margin: 5px 0px;
  }
}

nav {
  position: fixed;
  z-index: 200;
}

.navbar-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  svg { margin-right: 10px; }
}
.navbar-link.active-link {
  background-color: rgba(238, 110, 115, 0.9);
  color: white;
}

.revert-padding-col {
  padding: 0 !important;
}
