.sous-titre {
  font-size: 2.5rem;
  font-weight: 500;
}

.sous-sous-titre {
  font-size: 1.5rem;
  font-weight: 200;
  margin-bottom: 60px;
}

.titre-footer {
  font-size: 1.5rem;
  font-weight: 200;
}

.point-sous-titre {
  font-size: 1.5rem;
  font-weight: bold;
}

.text-centered {
  text-align: center;
}

.three-points {
  display: flex;
  font-weight: 200;
  margin-bottom: 40px;
  img { width: 50px }
  .title-points {
    margin-left: 20px;
  }
}

.img-point {
  img {
    width: 400px;
  }
}

.even {
  margin-right: 50px;
}

.odd {
  margin-left: 50px;
}

.point {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

@media screen and (max-width: 855px) {
  .mobile-hidden {
    display:none;
  }
}


.hp-content {
  padding: 0px 60px;
}

.home-wrapper {
  transform: skewY(4deg);
  transform-origin: 100% 50% 0;
  background: -webkit-linear-gradient(top left, #113f67, #182139);
  height: 100vh;
}
