@import "activeadmin_addons/all";
@import "font-awesome";

@import "components/*";
@import "typography";
@import "reset_materialize";
@import "restaurants/*";

.padding-10 {
  padding-top: 10px !important;
}

.fixed {
  position: fixed;
  top: 0;
}
