@import "activeadmin_addons/all";
@import "components/form";
@import "typography";

body { background: #eeeeee; }

.collapsible {
  margin-top: 50px !important;
}

.livesearch-container {
  width: 85%;
  float: right;
}

.private-nav {
  background-color: white;
  height: 100vh;
  float: left;
  width: 15%;
  display: block;
  position: fixed;
}

nav {
  position: fixed;
}

.hidden {
  display: none;
}
